.App {
  text-align: center;
}
.Header {
  color: white;
  text-shadow: 1px 1px 5px #fff;
  font-size: xx-large;
}
.List{
  border: 0.5px solid white;
  font-family: Arial Black;
  display: flex;
  justify-content: space-between;
  padding: 2% 3%;
  margin-bottom: 3%;
}
.Span{
  color:blueviolet;
  background-color: darkgray;
  box-sizing: border-box;
  border-radius: 14%;
  font-size: 1rem;
  padding: 2% 3%;

}
/* write your parent styles in here for your App.js */
